<style>
  .email-body{
    margin-left: 15px;
  }
  .main-text{
    text-align: left;
    max-width: 750px;
    margin-left: 15px;
  }
</style>

<div class="email-body">
  <h1>Hi <%= @user.first_name %>!</h1>
  <h3>This is a reminder for your R.U.O.K questionnaire.</h3>
  <h3>Group Name: <%= @group.name %></h3>
  <div class="main-text">

    <p>This is a happiness and satisfaction acessment questionnaire scheduled by your team manager. The manager as access to your positivity and negativity indices but not to you individual answers.</p>
    <p>Go to your dashboard if you want to see the statistics for <%= @group.name %></p>
    <h6>R.U.O.K is an ongoing project so you will certainly find a lot of bugs and missing features. Bear with us. For feedback and bug reporting email us at:</h6>
    <h5>diogofgr@gmail.com</h5>
    <p>Cheers,</p>
    <p>The Team</p>
    <p>Ciaran, Diogo, Filipe and Pedro.</p>
  </div>
