/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#circles{
  color: white;
  background-color: $brand-color;
}
.circles-container{
  display: flex;
}
.circle-box{
  text-align: center;
  flex: 1 1 auto;
  .fa {
    font-size: 140px;
  };
}

.secondary-banner{
  display: flex;
  justify-content: flex-end;

}

.secondary-banner-content{
  border: 1px dashed white;
  flex: 0 1 300px;
  padding: 30px;
  margin: 0 30px;
}
