
<%#= f.input :location,:collection => @locations,:label_method => :location_name,:value_method => :id,:label => "Location" ,:include_blank => false %>

<form action="/profile" method="get">
  <div class="slightly-padded">
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
  </div>
  <input type="submit" value="Send emails" class="btn btn-brand-with-bg">
</form>
