<%#= simple_form_for [@group, @group_membership] do |f| %>
  <%#= f.error_notification%>
  <%# if @group_membership.errors.any? %>
  <!-- <div id="error_explanation">
    <ul> -->
    <%# @group_membership.errors.full_messages.each do |msg| %>
      <!-- <li><%#= msg %></li> -->
    <%# end %>
    <!-- </ul>
  </div>
  <div style="margin: 20px 0">
    THIS SHOULD BE A FIELD FOR INPUTTING EMAIL ADDRESSES
  </div> -->
<%# end %>
  <%#= f.button :submit, class: "btn btn-brand-with-bg" %>
<%# end %>

<%#= f.input :location,:collection => @locations,:label_method => :location_name,:value_method => :id,:label => "Location" ,:include_blank => false %>

<form action="/profile" method="get">
  <div class="slightly-padded">
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
    <input type="email" name="fname" class="add-team-member-email-field" placeholder="insert an email address"><br>
  </div>
  <input type="submit" value="Send emails" class="btn btn-brand-with-bg">
</form>
