<div class="container">
  <div class="row">
    <div class = 'form col-md-4 col-md-offset-4'>
      <h1><%= @group.name %></h1>
      <p><%= link_to "Go back", groups_path %></p>
    </div>
  </div>
</div>
