<div class="wrapper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(45,125,92,0.6) 0%, rgba(45,125,92,0.6) 50%), url(<%= asset_path 'background-image.jpg' %>);">
    <div class="banner-content">
      <% if current_user.nil? %>
        <h1>Hey there!</h1>
      <% else %>
        <h1><%= current_user.first_name.nil? ? "Hey there!" : "Hey there, " + current_user.first_name + "!" %></h1>
      <% end %>
      <h2><%= @first_question %></h2>

      <!-- Let's add the reply box here  -->

    </div>
  </div>
  <div style="margin-top: 100vh;">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render 'form_question' %>
    </div>
  </div>
</div>
