/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.slightly-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.light-bg {
  background-color: #F8F8F8;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $gray;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

#page-body {
  // background-size: 100%;
  // min-height: calc(100vh - 70px);
  height: 100%;
  padding-bottom: 70px; /* Height of the footer element */
  // z-index: 2;
}

hr.page-divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

a {
  color: $gray;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: $brand-color;
  transition: all 0.2s ease;
}

// For uploading photos on sign-up

.attachinary-input {
  margin-bottom: 12px;
}

.attachinary-input input {
  border-radius: 5px;
}

input[type="file"] {
  font-size: 13px;
  font-style: italic;
}

ul { padding: 15px; }

ul li {
  list-style-type: none;
}

ul li img {
  box-shadow: 0 0 3px $brand-color;
  border-radius: 5px;
  margin-right: 15px;
}
