/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.slightly-padded {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $gray;
}
#wrapper {
  min-height: 100%;
  position: relative;
}

#page-body {
  min-height: calc(100vh - 60px);
  padding-bottom: 140px; /* Height of the footer element */
}

hr.page-divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

a {
  color: $gray;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: $brand-color;
  transition: all 0.2s ease;
}
