.btn-facebook {
  padding: 8px;
  border-radius: 4px;
  background-color: $facebook-blue-light;
  color: white;
  transition: all 0.2s ease;
}

.btn-facebook:hover {
  color: white;
  background-color: $facebook-blue;
  transition: all 0.2s ease;
}

.btn-brand {
  padding: 8px 20px;
  // border-radius: 4px;
  // border: solid white 1.5px;
  color: $gray;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-brand:hover {
  color: $brand-color;
  transition: all 0.2s ease;
}
.btn-yellow {
  padding: 8px 20px;
  border-radius: 4px;
  border: white 1.5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-yellow:hover {
  color: $yellow;
  transition: all 0.2s ease;
}
