/* Card design */
.card {
  height: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white; //MUDAR!
  position: relative;
  border-radius: 2px;
}

.card-list {
  height: 30px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white; //MUDAR!
  text-align: center;
  border-radius: 2px;
  margin-top: 5px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.btn-card {
  padding: 8px 20px;
  background-color: $brand-color;
  border-radius: 2px;
  border: solid $brand-color 1.5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-card:hover,
.btn-card:visited {
  color: white;
  background-color: $brand-color;
  transition: all 0.2s ease;
  text-shadow: none;
  border-color: $brand-color;
}
