.form-question {
  display: flex;
  justify-content: space-around;
  width: 100%;
  // padding: 10px 0;
  color: $gray;
}

.wide {
  flex: 1 1 100px;
  margin-right: 5px;
  padding-left: 10px;
  color: black;
}
