.tabs {
  background: $brand-color;
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
  text-decoration: none;
  a {
    color: $brand-light;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    color: black;
  }
  h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
  }
  p {
    opacity: 0.5;
    margin-bottom: 0;
  }
}

.tab-container {
  width: 100%;
}


.tab {
  background: none;
  flex: 0 0 25%;
  padding: 10px 0;
  text-align: center;
  transition: background 0.2s ease;
}

.tab.active {
  border: none;
  color: white;
  font-weight: bold;
  transition: background 0.2s ease;
}

.tab-content-hide {
  display: none;
}
