<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h1>Thanks for taking the demo!</h1>
        <h2>Now we'll explain how it works</h2>
        <hr class="page-divider">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>After one of your team members answers the questions, the results will be available for you to see on your profile page.</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= image_tag 'ruok-logo-for-facebook.png' %>
          </div>
          <div class="col-xs-12 col-md-6">
          </div>
          <div class="col-xs-12 col-md-6">

          </div>
        </div>


        <h3><%= Question.find(@the_questions.first.id).content  %></h3>
        <h4><%= Answer.find_by(question_id: @the_questions.first.id).content %></h4>
        <hr class="page-divider">
      </div>
    </div>
  </div>
</div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NmlWK-zCo6M?showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
