<div class="left">
  <%= link_to "Let's change this to something useful at some point.", root_path %>
</div>

<div class="right">
  <div class="list-inline">
    <a href="https://www.facebook.com/">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com/">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.github.com/">
      <i class="fa fa-github"></i>
    </a>
 </div>
</div>
