<div class="wrapper">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "about ruok", root_path %>
    </div>
    <div class="col-xs-6">
      <div class="list-inline" style="float: right;">
        <a href="https://www.facebook.com/">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.github.com/">
          <i class="fa fa-github"></i>
        </a>
     </div>
    </div>
  </div>
</div>
